/* Tables */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-dark-grey);
}

.table__header,
.table__cell {
  padding: var(--spacing-xs);
  text-align: left;
  border: 1px solid var(--color-border);
  color: var(--color-text-muted);
}

.table__header {
  background-color: var(--color-dark-bg-alt);
  font-weight: bold;
}

.table__row:nth-child(even) {
  background-color: var(--color-dark-bg-alt);
}
.table,
table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--spacing-md) 0;
  background-color: var(--color-dark-grey);
  box-shadow: var(--box-shadow-light);
  border-radius: 5px;
  overflow: hidden;
}

table thead {
  background-color: var(--color-dark-green);
  color: var(--color-text-base);
  font-weight: bold;
}

table thead th {
  padding: var(--spacing-sm);
}

table tbody tr:hover {
  background-color: var(--color-light-dark-green);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-md);
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}
